*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 80vh;
    margin: auto;
    background-color: azure;
}





header{
    width:95vw;
    height: fit-content;
    background-color: azure;
    margin: auto;
    text-align: center;
    padding: 10px auto 0 auto;
    color: #0C4609;
    font-weight: bolder;
}

#banner{
    display: flex;
    justify-content: space-around;
}

header img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.rotate{
    transform: rotate(90deg);
}

.rotate180{
    transform: rotate(180deg);
}

#q6leaf{
    transform: rotate(130deg);
}

.highlightLeafCorrect{
    filter: drop-shadow(0 0 4px green);
}

.highlightLeafWrong{
    filter: drop-shadow(2px -2px 3px red);
}


main{
    width: 90%;
    background-color: azure;
    margin: auto;
}

article{
    margin: auto;
}

#menuCard{
    margin: auto;
    width: fit-content;
    padding: 10px;
    background-color: azure;
    display: flex;
    flex-direction: column;
}

#endCard{
    text-align: center;
    padding: 20px;
    font-size: 1.25em;
}

#endCard p{
    margin: 10px auto;
}

#startBtn, #nextBtn, #resetBtn{
    height: fit-content;
    width: fit-content;
    padding: 5px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 7px;
    border: 8px double #0C4609;
    color:#0C4609;
    opacity: .7;
    margin: 20px auto;
    display: block;
}

#startBtn:hover, #nextBtn:hover, #resetBtn:hover{
    opacity: 1;
}

#quizCard{
    height: 70vh;
    width: 80vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

}

#question{
    font-size: 1.25em;
    margin: 20px auto;
    font-weight: bolder;
    text-align: center;
    display: block;
}

/*just the button grid*/
#questionCard{
    display: grid;
    width: 100%;
    height: 80%;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    margin:auto;
}



.answerBtn{
    height:50%;
    width:75%;
    font-size: 1.15em;
    opacity: .6;
    border-radius: 15px;
    font-size: 1em;
    color: #0C4609;
    font-weight: bold;
    border: 15px double #0C4609;
    margin: auto;
}

.answerBtn:hover{
    opacity: .9;
}


[hidden] { 
    opacity: .1;
    position: absolute;
    top: -100px;
    z-index: -3;
}

[showing]{
    opacity: 1;
    position: relative;
    z-index: 4;
}


.right{
    background-color: #60A13B;
    color: #0C4609;
    border: 15px double #0C4609;
    opacity: .9;
    font-weight: bolder;
    font-size: 1.3em;
}

.wrong{
    background-color: #C40806;
    color: #FD6E10;
    border: 15px double #FD6E10;
    opacity: .9;
}

.other{
    background-color: azure;
    border: 15px double black;
    color: black;

}
